@tailwind base;
@tailwind components;
@tailwind utilities;

*,::after,::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background: 0 0;
    text-decoration: none;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    font-weight: inherit;
    color: inherit;
    appearance: none;
    outline: 0;
    border: 0;
    border-radius: 0;
    transition-duration: var(--a-speed);
    transition-timing-function: var(--a-ease);
    transition-property: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-style: oblique 0deg 10deg;
    font-weight: 100 900;
    font-display: swap;
}

:root {
    --c-bg: hsl(0,0%,100%);
    --c-text: hsl(0,0%,10%);
    --c-text-alt: hsl(0,0%,10%);
    --c-detail: hsl(0,0%,10%);
    --c-detail-alt: hsl(0,0%,90%);
    --f-family: "Inter" , sans-serif;
    --f-size: 16px;
    --f-height: 22px;
    --f-weight: 480;
    --l-wide: 39rem;
    --l-text: 30rem;
    --a-speed: 75ms;
    --a-ease: ease-out;
    font-size: var(--f-height);
    font-family: var(--f-family);
    font-weight: var(--f-weight);
    background: var(--c-bg);
    color: var(--c-text);
    font-feature-settings: "tnum"1,"ss01"1,"ss03"1
}

@media (prefers-color-scheme: dark) {
    :root {
        --c-bg:hsl(0,0%,5%);
        --c-text: hsl(0,0%,90%);
        --c-text-alt: hsl(0,0%,50%);
        --c-detail: hsl(0,0%,90%);
        --c-detail-alt: hsl(0,0%,95%)
    }
}

@media (min-width: 650px) {
    :root {
        --f-size:15px;
        --f-height: 20px
    }
}

::selection {
    color: var(--c-bg);
    background: var(--c-text)
}

body {
    font-size: var(--f-size);
    line-height: var(--f-height);
    font-weight: var(--f-weight);
    margin-bottom: 3rem;
    letter-spacing: -.0109598em;
    display: grid;
    grid-template-rows: 3rem 10rem;
    grid-auto-rows: auto
}

html.inverted {
    --c-bg: hsl(0,0%,5%);
    --c-text: hsl(0,0%,90%);
    --c-text-alt: hsl(0,0%,50%);
    --c-detail: hsl(0,0%,90%);
    --c-detail-alt: hsl(0,0%,95%)
}

@media (prefers-color-scheme: dark) {
    html.inverted {
        --c-bg:hsl(0,0%,100%);
        --c-text: hsl(0,0%,10%);
        --c-text-alt: hsl(0,0%,10%);
        --c-detail: hsl(0,0%,10%);
        --c-detail-alt: hsl(0,0%,90%)
    }
}

html[data-url*="minimalissimo.blog"] {
    display: none;
    visibility: hidden;
    opacity: 0
}

[data-md] strong {
    font-weight: 620
}

[data-md] em {
    font-style: italic
}

[data-md] a {
    text-decoration: underline;
    text-decoration-color: var(--c-detail);
    text-decoration-thickness: 1px;
    transition-property: color, background
}

.details-list-text a:hover,[data-md] a:hover {
    color: var(--c-bg);
    background: var(--c-text)
}

[data-md] h1,[data-md] h2,[data-md] h3,[data-md] h4,[data-md] h5,[data-md] h6 {
    margin-bottom: .5rem;
    text-transform: uppercase
}

[data-md] h1:not(:first-child),[data-md] h2:not(:first-child),[data-md] h3:not(:first-child),[data-md] h4:not(:first-child),[data-md] h5:not(:first-child),[data-md] h6:not(:first-child) {
    margin-top: 2rem
}

[data-md] blockquote {
    quotes: "“""”";
    font-style: oblique
}

.video-figure:not(:first-child),[data-md] blockquote:not(:first-child) {
    margin-top: 1rem
}

.video-figure:not(:last-child),[data-md] blockquote:not(:last-child),[data-md] ol:not(:last-child),[data-md] p:not(:last-child),[data-md] ul:not(:last-child) {
    margin-bottom: 1rem
}

[data-md] blockquote p:first-child::before {
    content: open-quote
}

[data-md] blockquote p:last-child::after {
    content: close-quote
}

.video-figure,[data-md] p {
    max-width: var(--l-text)
}

[data-md] ol,[data-md] ul {
    margin-top: 1rem;
    margin-left: 1.65rem;
    list-style-position: outside
}

[data-md] li:not(:last-child) {
    margin-bottom: .25rem
}

[data-md] li::marker {
    color: var(--c-text-alt)
}

[data-md] li p {
    display: inline
}

[data-md] ol {
    list-style-type: decimal-leading-zero
}

[data-md] ul {
    list-style-type: square
}

.video-wrapper {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%
}

.video-wrapper embed,.video-wrapper iframe,.video-wrapper object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.question {
    margin-top: 2rem;
    margin-bottom: 1.5rem
}

.question p {
    font-weight: 620
}

.default .editor {
    padding-bottom: 3rem
}

.default .editor>p:first-child {
    margin-top: 3rem
}

.thumb {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    overflow: hidden;
    transition-property: background
}

.thumb:hover {
    background: var(--c-text)
}

@media (hover: none) {
    .thumb .thumb-subtitle,.thumb .thumb-title {
        color:var(--c-text)
    }
}

.thumb-content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3rem calc(100% - 6rem) 3rem;
    grid-template-areas: "title""picture""subtitle"
}

.thumb-subtitle,.thumb-title {
    color: var(--c-bg)
}

.thumb-title {
    grid-area: title;
    padding: 1rem;
    text-transform: uppercase
}

.thumb-subtitle {
    grid-area: subtitle;
    padding: 1rem
}

.thumb-container {
    grid-area: picture;
    padding: 0 3rem
}

.thumbnail-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center center
}

.b {
    box-shadow: inset 0 1px 0 0 var(--c-detail),inset 1px 0 0 var(--c-detail),0 1px 0 0 var(--c-detail),1px 0 0 var(--c-detail)
}

.ba,.details-list-text a::after {
    box-shadow: inset 0 1px 0 0 var(--c-detail),inset 1px 0 0 var(--c-detail),0 1px 0 0 var(--c-detail),inset -1px 0 0 var(--c-detail)
}

.button {
    font-size: 15px;
    line-height: 21px;
    letter-spacing: -.0109598em;
    display: inline-block;
    padding: .5rem 1.5rem;
    border-radius: 999999px;
    box-shadow: inset 0 0 0 1px var(--c-detail);
    color: gray;
    transition-duration: var(--a-speed);
    transition-timing-function: var(--a-ease);
    transition-property: box-shadow,color,background;
    font-variation-settings: "wght"500,"slnt"0
}

.button-inverted,.button:hover {
    box-shadow: inset 0 0 0 1px var(--c-text);
    color: var(--c-detail);
    background: var(--c-text)
}

.button-inverted:hover {
    background: var(--c-bg);
    box-shadow: inset 0 0 0 1px var(--c-detail);
    color: gray
}

.grid {
    display: grid;
    grid-auto-flow: dense
}

.grid-thumbs {
    grid-template-columns: repeat(1,1fr)
}

@media (min-width: 800px) {
    .grid-thumbs {
        grid-template-columns:repeat(2,1fr)
    }
}

@media (min-width: 1300px) {
    .grid-thumbs {
        grid-template-columns:repeat(3,1fr)
    }
}

@media (min-width: 1700px) {
    .grid-thumbs {
        grid-template-columns:repeat(4,1fr)
    }
}

@media (min-width: 3000px) {
    .grid-thumbs {
        grid-template-columns:repeat(6,1fr)
    }
}

.grid-title-holder {
    display: grid;
    grid-template-columns: 1fr
}

@media (min-width: 800px) {
    .grid-title-holder {
        grid-template-columns:1fr 1fr;
        grid-template-areas: ". text"
    }
}

@media (min-width: 1300px) {
    .grid-title-holder {
        grid-template-columns:1fr 2fr
    }
}

@media (min-width: 1700px) {
    .grid-title-holder {
        grid-template-columns:1fr 3fr
    }
}

@media (min-width: 3000px) {
    .grid-title-holder {
        grid-template-columns:1fr 2fr
    }
}

.grid-title {
    text-transform: uppercase;
    grid-area: text;
    padding: 1rem
}

.details-list {
    grid-area: meta;
    display: grid;
    grid-template-columns: 1fr;
    align-content: start
}

@media (min-width: 650px) {
    .details-list {
        grid-template-columns:1fr 1fr
    }
}

.details-list-title {
    text-transform: uppercase;
    padding: 1rem
}

.details-list-text a,.details-list-text p,.details-list-text span {
    padding: 1rem;
    display: block
}

.details-list-text a {
    position: relative;
    transition-property: color,background;
    background: var(--c-bg);
    padding-right: 4rem
}

.details-list-text a::after {
    content: "↗︎";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-property: box-shadow,background;
    background: var(--c-bg);
    color: var(--c-text)
}

@media (min-width: 1000px) {
    .details-list-text a::after {
        box-shadow:inset 0 1px 0 0 var(--c-detail),inset 1px 0 0 var(--c-detail),0 1px 0 0 var(--c-detail),1px 0 0 var(--c-detail)
    }
}

.details-list-text a:hover::after {
    background: var(--c-text);
    color: var(--c-bg)
}

.grid-thumbs+.shop,.home .shop {
    margin-top: 5rem
}

.shop .thumb:nth-child(7),.shop .thumb:nth-child(8) {
    display: none
}

@media (min-width: 1700px) {
    .shop .thumb:nth-child(7),.shop .thumb:nth-child(8) {
        display:block
    }
}

@media (min-width: 3000px) {
    .shop .thumb:nth-child(7),.shop .thumb:nth-child(8) {
        display:none
    }
}

.sp {
    padding-bottom: 100%;
    position: relative;
    grid-row-start: 2
}

@media (min-width: 800px) {
    .sp {
        grid-column-start:2;
        grid-row-start: 1
    }
}

@media (min-width: 1300px) {
    .sp {
        grid-column-start:3
    }
}

@media (min-width: 1700px) {
    .sp {
        grid-column-start:4
    }
}

@media (min-width: 3000px) {
    .sp {
        grid-column-start:6
    }
}

.sp-content,.sp-link::after {
    position: absolute;
    top: 0;
    bottom: 0
}

.sp-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "text""image""link";
    right: 0;
    left: 0;
    transition: color,background
}

.header-home:hover,.menu-item:hover,.sp-content:hover {
    color: var(--c-bg);
    background: var(--c-text)
}

.sp-text {
    grid-area: text;
    text-transform: uppercase
}

.about div[data-md],.sp-copy,.sp-text {
    padding: 1rem
}

.sp-link {
    grid-area: link;
    position: relative;
    padding: 1rem 4rem 1rem 1rem;
    text-transform: uppercase
}

.sp-link::after {
    content: "↗︎";
    right: 1px;
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-property: box-shadow,background;
    background: inherit;
    color: inherit;
    box-shadow: inset 0 1px 0 0 var(--c-detail),inset 1px 0 0 var(--c-detail),0 1px 0 0 var(--c-detail),inset -1px 0 0 var(--c-detail)
}

@media (min-width: 1000px) {
    .sp-link::after {
        box-shadow:inset 0 1px 0 0 var(--c-detail),inset 1px 0 0 var(--c-detail),0 1px 0 0 var(--c-detail),1px 0 0 var(--c-detail)
    }
}

.sp-figure {
    grid-area: image;
    padding: 0 3rem
}

.sp-image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center center;
    position: relative
}

.header {
    grid-template-areas: "homelink menu";
    text-transform: uppercase;
    position: sticky;
    top: 0;
    background: var(--c-bg);
    z-index: 9999;
    grid-template-columns: 1fr 1fr
}

@media (min-width: 650px) {
    .header {
        grid-template-columns:1fr 1fr
    }
}

@media (min-width: 1300px) {
    .header {
        grid-template-columns:1fr 2fr
    }
}

@media (min-width: 1700px) {
    .header {
        grid-template-columns:1fr 3fr
    }
}

@media (min-width: 3000px) {
    .header {
        grid-template-columns:1fr 2fr
    }
}

.header-home {
    grid-area: homelink;
    padding: 1rem;
    transition-property: color,background
}

.menu {
    grid-area: menu;
    grid-template-columns: auto 1fr
}

@media (min-width: 550px) {
    .menu {
        grid-template-columns:auto 1fr
    }
}

@media (min-width: 650px) {
    .menu {
        grid-template-columns:1fr 1fr 1fr
    }
}

@media (min-width: 1000px) {
    .menu {
        grid-template-columns:2fr 1fr 1fr
    }
}

@media (min-width: 1700px) {
    .menu {
        grid-template-columns:repeat(3,1fr)
    }
}

@media (min-width: 3000px) {
    .menu {
        grid-template-columns:2fr 1fr 1fr
    }
}

.menu-item {
    padding: 1rem;
    transition-property: color,background
}

@media (max-width: 649px) {
    .menu-item:nth-child(2) {
        display:none
    }
}

.page-title {
    grid-template-columns: 1fr;
    grid-template-areas: "text";
    align-content: center;
    align-items: top
}

@media (min-width: 1000px) {
    .page-title {
        grid-template-columns:1fr 1fr;
        grid-template-areas: ". text"
    }
}

@media (min-width: 1300px) {
    .page-title {
        grid-template-columns:1fr 2fr
    }
}

@media (min-width: 1700px) {
    .page-title {
        grid-template-columns:1fr 3fr
    }
}

@media (min-width: 3000px) {
    .page-title {
        grid-template-columns:1fr 2fr
    }
}

#article .page-title,#creator .page-title,#listicle .page-title,#mood .page-title {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "parent text"
}

@media (min-width: 1700px) {
    #article .page-title,#creator .page-title,#listicle .page-title,#mood .page-title {
        grid-template-columns:1fr 3fr
    }
}

@media (min-width: 3000px) {
    #article .page-title,#creator .page-title,#listicle .page-title,#mood .page-title {
        grid-template-columns:1fr 2fr
    }
}

@media (min-width: 1700px) {
    #contact .page-title,#suggest .page-title {
        grid-template-columns:1fr 1fr
    }
}

.page-title-text {
    grid-area: text;
    text-transform: uppercase;
    padding: 0 1rem
}

.page-parent-link {
    grid-area: parent;
    text-transform: uppercase;
    justify-self: start;
    transition-property: color,background;
    margin-left: 1rem
}

.footer a:hover,.metadata a:hover,.page-parent-link:hover {
    color: var(--c-bg);
    background: var(--c-text)
}

.footer {
    margin: 12rem 0;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "menu social""about about""newsletter newsletter";
    grid-gap: 5rem 0
}

@media (min-width: 800px) {
    .footer {
        grid-template-columns:1fr 1fr 2fr;
        grid-template-areas: "menu social about""newsletter newsletter newsletter"
    }
}

@media (min-width: 1300px) {
    .footer {
        grid-template-columns:1fr 1fr 1fr
    }
}

@media (min-width: 1700px) {
    .footer {
        grid-template-columns:1fr 1fr 2fr
    }
}

@media (min-width: 3000px) {
    .footer {
        grid-template-columns:1fr 1fr 1fr
    }
}

.footer a,.metadata a,a.donate-section-link {
    transition-property: color,background
}

.footer-column {
    padding: 0 1rem;
    text-transform: uppercase;
    line-height: 1.25rem
}

.footer-column dt,.footer-column h2 {
    margin-bottom: 2rem
}

.footer-column:nth-child(1) {
    grid-area: about
}

.footer-column:nth-child(2) {
    grid-area: menu
}

.footer-column:nth-child(3) {
    grid-area: social
}

.footer-about {
    text-transform: initial;
    max-width: 50ch
}

.metadata {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "toggle toggle""version credits"
}

@media (min-width: 650px) {
    .metadata {
        grid-template-columns:1fr 1fr 1fr;
        grid-template-areas: "version credits toggle"
    }
}

@media (min-width: 1700px) {
    .metadata {
        grid-template-columns:1fr 2fr 1fr
    }
}

@media (min-width: 3000px) {
    .metadata {
        grid-template-columns:1fr 1fr 1fr
    }
}

.meta-column {
    padding: .6rem 1rem;
    list-style: none
}

.meta-column:nth-child(1) {
    grid-area: version
}

.meta-column:nth-child(2) {
    grid-area: credits
}

@media (prefers-color-scheme: dark) {
    .scheme-toggle::before {
        content:"☼ Light"
    }

    .inverted .scheme-toggle::before {
        content: "☾ Dark"
    }
}

@media (prefers-color-scheme: light) {
    .scheme-toggle::before {
        content:"☾ Dark"
    }

    .inverted .scheme-toggle::before {
        content: "☼ Light"
    }
}

.scheme-toggle {
    transition-property: color,background;
    cursor: pointer;
    grid-area: toggle;
    padding: 1rem
}

@media (min-width: 650px) {
    .scheme-toggle {
        padding:.6rem 1rem
    }
}

.scheme-toggle::before {
    white-space: pre
}

.nl {
    grid-area: newsletter;
    grid-template-columns: 1fr;
    margin-top: 5rem;
    grid-template-areas: "title""form""text""sponsor"
}

@media (min-width: 1300px) {
    .nl {
        grid-template-columns:repeat(3,1fr);
        grid-template-areas: "title form form""sponsor text text"
    }
}

@media (min-width: 1700px) {
    .nl {
        grid-template-columns:repeat(4,1fr);
        grid-template-areas: "title form form form""sponsor text text text"
    }
}

@media (min-width: 3000px) {
    .nl {
        grid-template-columns:repeat(3,1fr);
        grid-template-areas: "title form form""sponsor text text"
    }
}

.nl-title {
    text-transform: uppercase;
    padding: 1rem;
    grid-area: title
}

.nl-form {
    grid-area: form;
    display: grid;
    grid-template-columns: 1fr 1fr
}

@media (min-width: 1700px) {
    .nl-form {
        grid-template-columns:2fr 1fr
    }
}

@media (min-width: 3000px) {
    .nl-form {
        grid-template-columns:1fr 1fr
    }
}

.nl-text {
    grid-area: text;
    padding: 1rem
}

.nl-example,.nl-spo {
    grid-area: sponsor;
    padding: 1rem
}

.nl-example {
    grid-area: sample;
    transition-property: color,background
}

.nl-example:hover,.scheme-toggle:hover {
    background: var(--c-text);
    color: var(--c-bg)
}

.nl-input {
    padding: 1rem;
    text-transform: uppercase;
    appearance: none;
    border-radius: 0;
    width: 100%
}

.nl-label {
    display: none
}

.nl-btn {
    cursor: pointer;
    transition-property: color,background;
    text-transform: uppercase;
    appearance: initial;
    border-radius: 0;
    padding: 1rem;
    text-align: center
}

.gocciola {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    background: var(--c-bg);
    border: 1px solid var(--c-detail)
}

.gocciola-button button,.gocciola-text {
    padding: 1rem;
    width: 100%;
    text-transform: uppercase
}

.gocciola-text {
    border-bottom: 1px solid var(--c-detail)
}

.gocciola-button button {
    transition-property: color,background
}

.gocciola-button {
    text-align: center
}

.is-container {
    grid-template-columns: repeat(1,1fr);
    grid-template-areas: "button button button button button button";
    margin: 0 0 6rem
}

@media (min-width: 1300px) {
    .is-container {
        grid-template-columns:repeat(3,1fr);
        grid-template-areas: ". button button"
    }
}

@media (min-width: 1700px) {
    .is-container {
        grid-template-columns:repeat(4,1fr);
        grid-template-areas: ". button button button"
    }
}

@media (min-width: 3000px) {
    .is-container {
        grid-template-columns:repeat(3,1fr);
        grid-template-areas: ". button button"
    }
}

.is-button {
    grid-area: button;
    padding: 1rem;
    text-transform: uppercase;
    transition-property: color,background;
    position: relative
}

.is-button::after {
    content: "↓";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 1px 0 0 var(--c-detail),inset 1px 0 0 var(--c-detail),0 1px 0 0 var(--c-detail),inset -1px 0 0 var(--c-detail)
}

.gocciola-button button:hover,.is-button:hover,.nl-btn:hover {
    background: var(--c-text);
    color: var(--c-bg)
}

.is-button:hover::after {
    border-color: var(--c-detail-alt)
}

#creator main,.article main,.listicle main,.mood main {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "content content""meta meta""gallery gallery"
}

@media (min-width: 1000px) {
    .article main,.listicle main,.mood main {
        grid-template-areas:"meta content""gallery gallery"
    }
}

@media (min-width: 1700px) {
    .article main,.listicle main,.mood main {
        grid-template-columns:1fr 3fr
    }
}

@media (min-width: 3000px) {
    .article main,.listicle main,.mood main {
        grid-template-columns:1fr 2fr
    }
}

#creator main {
    grid-template-rows: auto auto
}

@media (min-width: 1000px) {
    #creator main {
        grid-template-areas:"meta content""gallery content"
    }
}

@media (min-width: 1800px) {
    #creator main {
        grid-template-areas:"meta content content""gallery content content";
        grid-template-columns: 1fr 1fr 1fr
    }
}

.post-info {
    grid-area: meta
}

.content {
    grid-area: content;
    padding: 1rem
}

#article .related,#article .shop,#creator .related,#creator .shop,#listicle .related,#listicle .shop,#mood .related,#mood .shop {
    margin-top: 6rem
}

.gallery {
    grid-area: gallery;
    display: grid;
    grid-template-columns: 1fr
}

@media (min-width: 1000px) {
    .gallery {
        grid-template-columns:1fr 1fr
    }

    .creator .gallery {
        grid-template-columns: 1fr
    }
}

.image-container {
    width: 100%;
    padding-bottom: 100%;
    position: relative
}

.image-container.expanded .image-holder {
    align-items: center!important;
    justify-content: center!important;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--c-bg);
    z-index: 9000;
    padding: 6rem 3rem 3rem
}

.image-container.expanded .image-holder.image-holder-caption {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: minmax(0,1fr) auto;
    padding: 0;
    grid-template-areas: "image""caption";
    justify-content: center!important;
    justify-items: stretch!important;
    align-items: stretch!important;
    align-content: center!important
}

.image-container.expanded .image-holder.image-holder-caption .image {
    padding: 6rem 3rem 3rem;
    grid-area: image;
    width: initial;
    height: initial
}

.image-container.expanded .image-holder.image-holder-caption .caption {
    grid-area: caption
}

.image-container.expanded .image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center!important;
    cursor: zoom-out
}

.image-container.expanded .caption {
    display: block;
    padding: 1rem
}

.image-holder {
    position: absolute;
    top: 1rem;
    right: 1rem;
    bottom: 1rem;
    left: 1rem;
    display: flex;
    cursor: zoom-in
}

.image {
    display: block;
    width: 85%;
    height: 85%;
    object-fit: contain
}

.image-holder.top.left {
    align-items: flex-start;
    justify-content: flex-start
}

.image-holder.top.left .image {
    object-position: left top
}

.image-holder.top.right {
    align-items: flex-start;
    justify-content: flex-end
}

.image-holder.top.right .image {
    object-position: right top
}

.image-holder.bottom.left {
    align-items: flex-end;
    justify-content: flex-start
}

.image-holder.bottom.left .image {
    object-position: left bottom
}

.image-holder.bottom.right {
    align-items: flex-end;
    justify-content: flex-end
}

.image-holder.bottom.right .image {
    object-position: right bottom
}

.caption {
    display: none
}

.listicle {
    grid-area: gallery
}

.related-title {
    padding: 5rem 1rem 1rem;
    text-transform: uppercase
}

.related .thumb:nth-child(7),.related .thumb:nth-child(8) {
    display: none
}

@media (min-width: 1700px) {
    .related .thumb:nth-child(7),.related .thumb:nth-child(8) {
        display:block
    }
}

@media (min-width: 3000px) {
    .related .thumb:nth-child(7),.related .thumb:nth-child(8) {
        display:none
    }
}

.about main {
    grid-template-columns: 1fr
}

@media (min-width: 1000px) {
    .about main {
        grid-template-columns:1fr 1fr
    }
}

.about figure {
    padding: 3rem
}

.about img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center
}

#default .text-container,.contact-section {
    grid-template-columns: 1fr;
    grid-template-areas: "title""link""text"
}

@media (min-width: 430px) {
    .contact-section {
        grid-template-columns:1fr 2fr;
        grid-template-areas: "title link""text text"
    }
}

@media (min-width: 650px) {
    .contact-section {
        grid-template-columns:1fr 1fr;
        grid-template-areas: "title link""text text"
    }
}

@media (min-width: 1000px) {
    .contact-section {
        grid-template-columns:2fr 1fr 1fr;
        grid-template-areas: ". title link"". text text"
    }
}

@media (min-width: 1300px) {
    .contact-section {
        grid-template-columns:1fr 1fr 1fr;
        grid-template-areas: ". title link"". text text"
    }
}

@media (min-width: 1700px) {
    .contact-section {
        grid-template-columns:1fr 1fr 1fr 1fr;
        grid-template-areas: ". . title link"". . text text"
    }
}

.contact-section-title {
    grid-area: title;
    padding: 1rem;
    text-transform: uppercase
}

.contact-section-link {
    grid-area: link;
    padding: 1rem;
    transition-property: color,background
}

.contact-section-link:hover,a.donate-section-link:hover {
    color: var(--c-bg);
    background: var(--c-text)
}

.contact-section-text {
    grid-area: text;
    padding: 1rem 1rem 3rem
}

.donate-intro {
    grid-template-columns: repeat(6,1fr);
    grid-template-areas: "text text text text text text"
}

@media (min-width: 650px) {
    .donate-intro {
        grid-template-areas:". . . text text text"
    }
}

.donate-text {
    padding: 1rem;
    grid-area: text
}

.donate-section {
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "title title""link link"
}

@media (min-width: 700px) {
    .donate-section {
        grid-template-areas:"title link"
    }
}

@media (min-width: 1000px) {
    .donate-section {
        grid-template-columns:1fr 1fr
    }
}

.donate-section-title {
    text-transform: uppercase;
    padding: 1rem;
    grid-area: title
}

.donate-section-link {
    padding: 1rem;
    grid-area: link;
    text-align: left
}

.error,.error-container {
    width: 100%;
    height: 100%
}

.error-container {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "message message message"
}

@media (min-width: 500px) {
    .error-container {
        grid-template-areas:". message message"
    }
}

.error-content {
    grid-area: message
}

.error-text {
    padding: 1rem
}

.error-title {
    margin-bottom: 3rem
}

.error-link {
    padding: 1rem;
    display: block;
    margin-top: 3rem;
    position: relative;
    transition-property: background,color
}

.error-link:hover::after {
    box-shadow: inset 1px 0 0 0 transparent
}

.error-link::after,.search-archive-link::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 3rem
}

.error-link::after {
    content: "← ";
    padding: 1rem;
    box-shadow: inset 1px 0 0 0 var(--c-detail);
    text-align: center;
    transition-property: box-shadow
}

#default .text-container {
    grid-template-areas: "content""button""gallery"
}

@media (min-width: 1000px) {
    #default .text-container {
        grid-template-columns:1fr 1fr;
        grid-template-areas: ". content"". button""gallery gallery"
    }
}

@media (min-width: 1300px) {
    #default .text-container {
        grid-template-columns:1fr 2fr
    }
}

@media (min-width: 1700px) {
    #default .text-container {
        grid-template-columns:1fr 3fr
    }
}

@media (min-width: 3000px) {
    #default .text-container {
        grid-template-columns:1fr 2fr
    }
}

#suggest .text-container,.text-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "content"
}

@media (min-width: 650px) {
    .text-container {
        grid-template-columns:1fr 1fr;
        grid-template-areas: ". content"
    }
}

@media (min-width: 1300px) {
    .text-container {
        grid-template-columns:1fr 2fr
    }
}

.text-button {
    padding: 1rem;
    grid-area: button;
    transition-property: color,background
}

.error-link:hover,.suggest-email:hover,.text-button:hover {
    color: var(--c-bg);
    background: var(--c-text)
}

#suggest .text-container {
    grid-template-areas: "content""note""features""cost""email"
}

@media (min-width: 650px) {
    #suggest .text-container {
        grid-template-columns:1fr 1fr;
        grid-template-areas: ". content"". note"". features"". cost"". email"
    }
}

@media (min-width: 1300px) {
    #suggest .text-container {
        grid-template-columns:1fr 1fr 1fr;
        grid-template-areas: ". content content"". note note"". features cost"". email email"
    }
}

@media (min-width: 1700px) {
    #suggest .text-container {
        grid-template-columns:2fr 1fr 1fr
    }
}

.text-content {
    grid-area: content;
    padding: 1rem
}

.suggest-cost,.suggest-email,.suggest-features,.suggest-note {
    padding: 1rem
}

.suggest-note {
    grid-area: note;
    text-transform: uppercase
}

.suggest-features {
    grid-area: features;
    list-style-position: inside
}

.suggest-cost {
    grid-area: cost;
    display: grid;
    grid-template-rows: auto 1fr
}

.suggest-usd {
    align-self: center;
    justify-self: center;
    margin-bottom: 2rem
}

.suggest-email {
    grid-area: email;
    text-align: center;
    transition-property: color,background
}

.suggest-subtitle {
    text-transform: uppercase;
    margin-bottom: 1rem
}

.search-field-container {
    grid-template-columns: 1fr;
    grid-template-areas: "fields"
}

@media (min-width: 1000px) {
    .search-field-container {
        grid-template-columns:1fr 1fr;
        grid-template-areas: ". fields"
    }
}

@media (min-width: 1300px) {
    .search-field-container {
        grid-template-columns:1fr 2fr
    }
}

@media (min-width: 1700px) {
    .search-field-container {
        grid-template-columns:1fr 3fr
    }
}

@media (min-width: 3000px) {
    .search-field-container {
        grid-template-columns:1fr 2fr
    }
}

.search-fields {
    grid-area: fields;
    grid-template-columns: 1fr 3rem
}

.search-input,.search-submit {
    padding: 1rem;
    text-transform: uppercase
}

.search-submit {
    text-align: center;
    transition-property: background,color;
    cursor: pointer
}

.search-terms {
    margin-top: 5rem
}

.search-term,.search-terms-title {
    padding: 1rem
}

.search-term {
    transition-property: color,background;
    text-transform: lowercase
}

.search-archive-link:hover,.search-archive-link:hover::after,.search-submit:hover,.search-term:hover {
    color: var(--c-bg);
    background: var(--c-text)
}

.search-terms-title {
    text-transform: uppercase;
    grid-area: text
}

.search-terms-title-holder {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "text"
}

@media (min-width: 800px) {
    .search-terms-title-holder {
        grid-template-columns:1fr 1fr;
        grid-template-areas: ". text"
    }
}

@media (min-width: 1300px) {
    .search-terms-title-holder {
        grid-template-columns:1fr 2fr
    }
}

@media (min-width: 1700px) {
    .search-terms-title-holder {
        grid-template-columns:1fr 3fr
    }
}

@media (min-width: 3000px) {
    .search-terms-title-holder {
        grid-template-columns:1fr 2fr
    }
}

.search-terms-list {
    grid-template-columns: repeat(1,1fr)
}

@media (min-width: 800px) {
    .search-terms-list {
        grid-template-columns:repeat(2,1fr)
    }
}

@media (min-width: 1300px) {
    .search-terms-list {
        grid-template-columns:repeat(3,1fr)
    }
}

@media (min-width: 1700px) {
    .search-terms-list {
        grid-template-columns:repeat(4,1fr)
    }
}

@media (min-width: 3000px) {
    .search-terms-list {
        grid-template-columns:repeat(6,1fr)
    }
}

@media (min-width: 1300px) and (max-width:1700px) {
    .search-term-interviews {
        display:none
    }
}

.search-archive {
    margin-top: 5rem
}

.search-archive-link,.search-archive-title {
    padding: 1rem
}

.search-archive-link {
    transition-property: color,background;
    text-transform: lowercase
}

.search-archive-title {
    text-transform: uppercase;
    grid-area: text
}

.search-archive-title-holder {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "text"
}

@media (min-width: 800px) {
    .search-archive-title-holder {
        grid-template-columns:1fr 1fr;
        grid-template-areas: ". text"
    }
}

@media (min-width: 1300px) {
    .search-archive-title-holder {
        grid-template-columns:1fr 2fr
    }
}

@media (min-width: 1700px) {
    .search-archive-title-holder {
        grid-template-columns:1fr 3fr
    }
}

@media (min-width: 3000px) {
    .search-archive-title-holder {
        grid-template-columns:1fr 2fr
    }
}

.search-archive-link-holder {
    grid-template-columns: 1fr;
    grid-template-areas: "link"
}

@media (min-width: 800px) {
    .search-archive-link-holder {
        grid-template-columns:1fr 1fr;
        grid-template-areas: ". link"
    }
}

@media (min-width: 1300px) {
    .search-archive-link-holder {
        grid-template-columns:1fr 2fr
    }
}

@media (min-width: 1700px) {
    .search-archive-link-holder {
        grid-template-columns:1fr 3fr
    }
}

@media (min-width: 3000px) {
    .search-archive-link-holder {
        grid-template-columns:1fr 2fr
    }
}

.search-archive-link {
    grid-area: link;
    position: relative
}

.search-archive-link::after {
    content: "↗︎";
    display: flex;
    justify-content: center;
    align-items: center;
    transition-property: box-shadow,background;
    background: var(--c-bg);
    color: var(--c-text);
    box-shadow: inset 0 1px 0 0 var(--c-detail),inset 1px 0 0 var(--c-detail),0 1px 0 0 var(--c-detail),inset -1px 0 0 var(--c-detail)
}
